body {
    margin: 50px;
    background: #fffff9
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #08b;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.9em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0rem;
    line-height: 1.4rem;
    color: #333;
}

span {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #aaa;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  /* width: auto; */
}

div .center{
    text-align: center;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
    text-align: center;
}

ul.posts li {
    list-style: none;
}

code {
    font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
    font-size: .85em !important;
    color: rgb(182, 57, 57);
    background-color: #f0f0f0;
    border-radius: 3px;
    padding: .2em 0;
}

blockquote code
{
    background-color: #d0d0d0;
}

html body blockquote {
    margin: 16px 0;
    font-size: inherit;
    padding: 0 15px;
    color: #5c5c5c;
    border-left: 4px solid #d6d6d6;
    background-color: #F2F2F2;
}

html body table td, 
html body table th {
    border: 1px solid #d6d6d6;
    padding: 6px 13px;
}
td {
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}
html body table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}