body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:768px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:97px;
  width:1032px;
  height:768px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:368px;
  width:1028px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1034px;
  height:159px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:859px;
  width:1034px;
  height:159px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:911px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:98px;
  width:1px;
  height:910px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:911px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:1188px;
  top:98px;
  width:1px;
  height:910px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:2px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:98px;
  width:1029px;
  height:1px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
